body{
    background-color: rgb(167, 141, 141);
}

h1{
    text-align: center;
    font-size: 90px;
}
h2{
    font-size: 50px;
    padding-top: 10px;
}
a{
    display:block;
    font-size:25px;
    padding-bottom: 30px;
}